<!-- Author: Alejandro Galue <agalue@opennms.org> -->

<ol class="breadcrumb">
  <li><a href="/opennms/index.jsp">Home</a></li>
  <li><a href="/opennms/admin/index.jsp">Admin</a></li>
  <li><a ng-click="goTop()">Provisioning Requisitions</a></li>
  <li ng-hide="foreignSource == 'default'"><a ng-click="goBack()">{{ foreignSource }}</a></li>
  <li ng-hide="foreignSource == 'default'">Foreign Source Definition</li>
  <li ng-show="foreignSource == 'default'">Default Definition</li>
</ol>


<!-- Toolbar -->

<div class="row">
  <div class="col-md-6">
    <h4 ng-show="foreignSource == 'default'" class="hidden-xs">Default Foreign Source Definition</h4>
    <h4 ng-hide="foreignSource == 'default'" class="hidden-xs">Foreign Source Definition for Requisition {{ foreignSource }}</h4>
    <h4 class="visible-xs">FS Definition</h4>
  </div>
  <div class="col-md-6">
    <div class="input-group pull-right">
      <button class="btn btn-danger" ng-click="save()" ng-show="fsForm.$dirty && fsForm.$valid" ng-disabled="timingStatus.isRunning">
        <span class="glyphicon glyphicon-save"></span> Save
      </button>
      <button class="btn btn-default" ng-click="goBack()">
        <span class="glyphicon glyphicon-remove"></span> Return
      </button>
    </div>
  </div>
</div>

<!-- Common - Content -->

<div class="row">
<form name="fsForm" novalidate>
  <div class="col-md-12">
    <br/>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">Last Modified</label>
      <span class="form-control">{{ foreignSourceDef['date-stamp'] | date:'dd-MM-yy hh:mm:ss' }}</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group" ng-class="{ 'has-error' : fsForm.scanInterval.$invalid }">
      <label class="control-label" for="scanInterval">Scan Interval</label>
      <input class="form-control" type="text" id="scanInterval" name="scanInterval" placeholder="Scan Interval" ng-model="foreignSourceDef['scan-interval']" required></input>
      <div ng-show="fsForm.scanInterval.$invalid" class="help-block">Scan Interval is required.</div>
    </div>
  </div>
</form>
</div>

<!-- Content -->

<div class="row">
  <div class="col-md-12">

    <!-- Tab Panel -->
    <div class="container-fluid">
      <tabset>

        <!-- Detectors Tab -->
        <tab heading="Detectors">
          <div class="row">
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"/></span>
                <input class="form-control" type="text" placeholder="Search/Filter Detectors" ng-model="filters.detector" />
              </div>
            </div>
            <div class="col-md-9">
              <div class="input-group pull-right">
                <button class="btn btn-default" ng-click="addDetector()"><span class="glyphicon glyphicon-plus"/> Add Detector</button>
              </div>
            </div>
          </div>
          <br/>
          <div class="table-responsive">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Class</th>
                  <th>Parameters</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="detector in filteredDetectors | startFrom:(detectorsCurrentPage-1)*detectorsPageSize | limitTo:detectorsPageSize ">
                  <td>{{ detector.name }}</td>
                  <td>{{ detector.class }}</td>
                  <td>
                    <div ng-hide="detector.parameter.length > 0">[No parameters]</div>
                    <div ng-repeat="parm in detector.parameter">
                      <p><b>{{ parm.key }} : </b> {{ parm.value }}</p>
                    </div>
                  </td>
                  <td>
                    <span class="pull-right">
                      <button class="btn btn-default btn-xs" tooltip="Edit the detector" ng-click="editDetector(detector)">
                        <span class="glyphicon glyphicon-pencil"/>
                      </button>
                      <button class="btn btn-default btn-xs" tooltip="Remove the detector" ng-click="removeDetector(detector)">
                        <span class="glyphicon glyphicon-remove"/>
                      </button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination total-items="detectorsTotalItems" num-pages="detectorsNumPages" ng-model="detectorsCurrentPage" max-size="detectorsMaxSize" boundary-links="true" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-show="filteredDetectors.length > detectorsPageSize"></pagination>
            </div>
        </tab>

        <!-- Policies Tab -->
        <tab heading="Policies">
          <div class="row">
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"/></span>
                <input class="form-control" type="text" placeholder="Search/Filter Policies" ng-model="filters.policy" />
              </div>
            </div>
            <div class="col-md-9">
              <div class="input-group pull-right">
                <button class="btn btn-default" ng-click="addPolicy()"><span class="glyphicon glyphicon-plus"/> Add Policy</button>
              </div>
            </div>
          </div>
          <br/>
          <div class="table-responsive">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Class</th>
                  <th>Parameters</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="policy in filteredPolicies | startFrom:(policiesCurrentPage-1)*policiesPageSize | limitTo:policiesPageSize ">
                  <td>{{ policy.name }}</td>
                  <td>{{ policy.class }}</td>
                  <td>
                    <div ng-hide="policy.parameter.length > 0">[No parameters]</div>
                    <div ng-repeat="parm in policy.parameter">
                      <p><b>{{ parm.key }} : </b> {{ parm.value }}</p>
                    </div>
                  </td>
                  <td>
                    <span class="pull-right">
                      <a class="btn btn-default btn-xs" tooltip="Edit the policy" ng-click="editPolicy(policy)">
                        <span class="glyphicon glyphicon-pencil"/>
                      </a>
                      <a class="btn btn-default btn-xs" tooltip="Remove the policy" ng-click="removePolicy(policy)">
                        <span class="glyphicon glyphicon-remove"/>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination total-items="policiesTotalItems" num-pages="policiesNumPages" ng-model="policiesCurrentPage" max-size="policiesMaxSize" boundary-links="true" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-show="filteredPolicies.length > policiesPageSize"></pagination>
          </div>
        </tab>

      </tabset>
    </div> <!-- tab-panel container-fluid -->

  </div> <!-- column -->
</div> <!-- row -->

